<%- include("header")%>
<%- include("nav")%>

<div id="home">
    <h1>Home</h1>
    <img src="https://plus.unsplash.com/premium_photo-1684964533617-c5f5631a2407?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW5zdGFncmFtfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" alt="">
</div>


<%- include("footer")%>


  
